In [306]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rcParams['patch.force_edgecolor'] = True
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import pgeocode 
from geopy.geocoders import Nominatim # from pypi.org
from geopy.extra.rate_limiter import RateLimiter # from pypi.org
import ssl

In [247]:
data = pd.read_csv("beginner.csv")
data

,Facility Name,Address 1,Address 2,Address 3,City,State,Zip Code,Phone,Fax,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,NaN,NaN,Yakima,WA,98902,509574-3863,509249-5319,NaN,NaN,NaN,NaN
1,31 Medical Group Aviano AB,Italy,31 Medical Group,Unit 6180,NaN,Air Post Office,AE,9604,3.90434E+11,3904343,NaN,NaN,NaN
2,35th Medical Group Misawa AB Japan,Unit 5024,NaN,NaN,APO,AP,96319-5300,8.13118E+11,8117677,NaN,NaN,NaN,NaN
3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,374th Medical Group,NaN,APO,AP,96328,425522510,425302026,NaN,NaN,NaN,NaN
4,375th Medical Group,310 W Losey St.,NaN,NaN,Scott AFB,IL,62225-5252,618256-1494,618256-7253,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8806,Zwanger-Pesiri Radiology,160 Brentwood Road,NaN,NaN,Bay Shore,NY,11706,631444-5544,631666-9168,NaN,NaN,NaN,NaN
8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,NaN,NaN,Shirley,NY,11967,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,NaN,NaN,Medford,NY,11763,631444-5544,631870-8732,NaN,NaN,NaN,NaN
8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,NaN,NaN,West Islip,NY,11795,516798-42426001,631870-8732,NaN,NaN,NaN,NaN
8810,Zwanger-Pesiri Radiology Group,LLP,150 East Sunrise Hwy.,NaN,NaN,Lindenhurst,NY,11757,631444-5544,631225-9550,NaN,NaN,NaN

In [248]:
cleaned = data[["Facility Name","Address 1","City","State","Zip Code"]]
updated = cleaned.dropna()
updated = updated.reset_index()
updated # deleted unnecessary columns

,index,Facility Name,Address 1,City,State,Zip Code
0,0,Ohana Memorials Mammography Services,1515 W Yakima Ave.,Yakima,WA,98902
1,2,35th Medical Group Misawa AB Japan,Unit 5024,APO,AP,96319-5300
2,3,374th MDG Unit 5225 SGCR Yokota AB APO AP 96328,Unit 5225 SGCR,APO,AP,96328
3,4,375th Medical Group,310 W Losey St.,Scott AFB,IL,62225-5252
4,6,3T Imaging of Morton Grove,9000 Waukengan Rd Ste 110,Morton Grove,IL,60053
...,...,...,...,...,...,...
6948,8805,Zwanger-Pesiri Radiology,987 W. Jericho Turnpike,Smithtown,NY,11787
6949,8806,Zwanger-Pesiri Radiology,160 Brentwood Road,Bay Shore,NY,11706
6950,8807,Zwanger-Pesiri Radiology,803-F Montauk Highway,Shirley,NY,11967
6951,8808,Zwanger-Pesiri Radiology,1729 N Ocean Ave,Medford,NY,11763
6952,8809,Zwanger-Pesiri Radiology Group,759 Montauk Hwy.,West Islip,NY,11795

In [253]:
i = 0
for index, row in updated.iterrows():
    if row['City'] == 'APO' or row['City'] == 'FPO':
        updated = updated.drop(i)
    i = i + 1

updated #dropped all international locations

,index,Facility Name,Address 1,City,State,Zip Code
0,871,Baylor Scott & White Medical Centers-Capitol Area,2600 E. Pflugerville Pkwy,Pflugerville,TX,TX
2,5705,Petersburg Medical Center,103 Fram St.,Petersburg,AK,99833
3,5244,Norton Sound Health Corporation,1000 Greg Kruschek Ave.,Nome,AK,99762
4,825,Bassett Army Community Hospital,1060 Gaffney Rd.,Ft. Wainwright,AK,99703-7440
5,3222,Imaging Associates,2280 S Woodworth Loop,Palmer,AK,99645
...,...,...,...,...,...,...
6943,7286,Star Valley Health,901 Adams,Afton,WY,83110
6944,4404,Memorial Hospital of Carbon County,2221 W Elm St,Rawlins,WY,82301
6945,5060,North Big Horn Hospital,1115 Lane 12,Lovell,WY,82431
6946,3534,Kaiser Permanente - Northwest,2301 M St NW,MS.RT.R.M,Washington,DC
6947,3774,Lake Pointe Operating Company,LLC,Suite 110,Wylie,TX

In [250]:
#updated['Address & Zip'] = updated['Address 1'] + ' ' + updated['Zip Code']
#updated

In [254]:
updated = updated.sort_values('State')
updated # sorted by states

,index,Facility Name,Address 1,City,State,Zip Code
0,871,Baylor Scott & White Medical Centers-Capitol Area,2600 E. Pflugerville Pkwy,Pflugerville,TX,TX
23,331,Anchorage Native Primary Care Clinic,4320 Diplomacy Drive,Anchorage,AK,99508
22,4139,Maniilaq Health Center,436 5th Ave & Ted Stevens Way,Kotzebue,AK,99752
21,332,Anchorage Neighborhood Health Center,4951 Business Park Blvd.,Anchorage,AK,99503
20,4210,Mat-Su Regional Medical Center,2500 S. Woodworth Loop,Palmer,AK,99645
...,...,...,...,...,...,...
6918,6632,Sheridan Memorial Hospital,1401 W 5th St,Sheridan,WY,82801
6917,6285,Rock Creek Medical Imaging,2620 Commercial Way Ste 10,Rock Springs,WY,82901
6931,4408,Memorial Hospital of Sweetwater County,1200 College Drive,Rock Springs,WY,82901
6946,3534,Kaiser Permanente - Northwest,2301 M St NW,MS.RT.R.M,Washington,DC
6947,3774,Lake Pointe Operating Company,LLC,Suite 110,Wylie,TX

In [255]:
updated = updated.reset_index(drop = True)
updated

,index,Facility Name,Address 1,City,State,Zip Code
0,871,Baylor Scott & White Medical Centers-Capitol Area,2600 E. Pflugerville Pkwy,Pflugerville,TX,TX
1,331,Anchorage Native Primary Care Clinic,4320 Diplomacy Drive,Anchorage,AK,99508
2,4139,Maniilaq Health Center,436 5th Ave & Ted Stevens Way,Kotzebue,AK,99752
3,332,Anchorage Neighborhood Health Center,4951 Business Park Blvd.,Anchorage,AK,99503
4,4210,Mat-Su Regional Medical Center,2500 S. Woodworth Loop,Palmer,AK,99645
...,...,...,...,...,...,...
6941,6632,Sheridan Memorial Hospital,1401 W 5th St,Sheridan,WY,82801
6942,6285,Rock Creek Medical Imaging,2620 Commercial Way Ste 10,Rock Springs,WY,82901
6943,4408,Memorial Hospital of Sweetwater County,1200 College Drive,Rock Springs,WY,82901
6944,3534,Kaiser Permanente - Northwest,2301 M St NW,MS.RT.R.M,Washington,DC
6945,3774,Lake Pointe Operating Company,LLC,Suite 110,Wylie,TX

In [295]:
states = updated.State.value_counts().sort_index().to_frame()
states # converted value counts of each state to dataframe

            State
 TX             1
AK             23
AL            104
AR             71
AS              1
...           ...
WI            192
WV             54
WY             29
Washington      1
Wylie           1

[87 rows x 1 columns]

In [302]:
states1 = states.reset_index()
states1.replace({' TX': 'TX'}, regex = True)
states1.sort_values(by=['index'], ascending=True)
states1 # sorted alphabetically

         index  State
0           TX      1
1           AK     23
2           AL    104
3           AR     71
4           AS      1
..         ...    ...
82          WI    192
83          WV     54
84          WY     29
85  Washington      1
86       Wylie      1

[87 rows x 2 columns]

In [303]:
mammogram = pd.read_csv("mammograms.csv")
mammogram # imported a csv we created with location data of all the states & population/location

,State,Count,Unnamed: 2,Population,Unnamed: 4,Per,Unnamed: 6,Latitude,Longitude
0,Alabama,104,NaN,2531653,NaN,24342.817310,NaN,32.318230,-86.902298
1,Alaska,23,NaN,347065,NaN,15089.782610,NaN,66.160507,-153.369141
2,Arizona,92,NaN,3658425,NaN,39765.489130,NaN,34.048927,-111.093735
3,Arkansas,71,NaN,1535409,NaN,21625.478870,NaN,34.799999,-92.199997
4,California,588,NaN,19843586,NaN,33747.595240,NaN,36.778259,-119.417931
5,Colorado,114,NaN,2851526,NaN,25013.385960,NaN,39.113014,-105.358887
6,Connecticut,89,NaN,1825341,NaN,20509.449440,NaN,41.599998,-72.699997
7,Deleware,20,NaN,502383,NaN,25119.150000,NaN,39.000000,-75.500000
8,Florida,467,NaN,10968797,NaN,23487.788010,NaN,27.994402,-81.760254
9,Georgia,189,NaN,5447400,NaN,28822.222220,NaN,33.247875,-83.441162
10,Hawaii,27,NaN,700375,NaN,25939.814810,NaN,19.741755,-155.844437
11,Idaho,40,NaN,890507,NaN,22262.675000,NaN,44.068203,-114.742043
12,Illinois,300,NaN,6439036,NaN,21463.453330,NaN,40.000000,-89.000000
13,Indiana,152,NaN,3411448,NaN,22443.736840,NaN,40.273502,-86.126976
14,Iowa,132,NaN,1583705,NaN,11997.765150,NaN,42.032974,-93.581543
15,Kansas,93,NaN,1458506,NaN,15682.860220,NaN,38.500000,-98.000000
16,Kentucky,128,NaN,2263918,NaN,17686.859380,NaN,37.839333,-84.270020
17,Louisiana,122,NaN,2379275,NaN,19502.254100,NaN,30.391830,-92.329102
18,Maine,41,NaN,685961,NaN,16730.756100,NaN,45.367584,-68.972168
19,Maryland,87,NaN,3109623,NaN,35742.793100,NaN,39.045753,-76.641273
20,Massachusetts,123,NaN,3546076,NaN,28829.886180,NaN,42.407211,-71.382439
21,Michigan,178,NaN,5067806,NaN,28470.820220,NaN,44.182205,-84.506836
22,Minnesota,222,NaN,2829462,NaN,12745.324320,NaN,46.392410,-94.636230
23,Mississippi,83,NaN,1531584,NaN,18452.819280,NaN,33.000000,-90.000000
24,Missouri,131,NaN,3121595,NaN,23828.969470,NaN,38.573936,-92.603760
25,Montana,42,NaN,530098,NaN,12621.380950,NaN,46.965260,-109.533691
26,Nebraska,83,NaN,966738,NaN,11647.445780,NaN,41.500000,-100.000000
27,Nevada,49,NaN,1533310,NaN,31292.040820,NaN,39.876019,-117.224121
28,New Hampshire,37,NaN,685759,NaN,18534.027030,NaN,44.000000,-71.500000
29,New Jersy,189,NaN,4540093,NaN,24021.656080,NaN,39.833851,-74.871826
30,New Mexico,36,NaN,1057544,NaN,29376.222220,NaN,34.307144,-106.018066
31,New York,416,NaN,10002490,NaN,24044.447120,NaN,43.000000,-75.000000
32,North Carolina,206,NaN,5376254,NaN,26098.320390,NaN,35.782169,-80.793457
33,North Dakota,46,NaN,370846,NaN,8061.869565,NaN,47.650589,-100.437012
34,Ohio,271,NaN,5956651,NaN,21980.261990,NaN,40.367474,-82.996216
35,Oklahoma,103,NaN,1993171,NaN,19351.174760,NaN,36.084621,-96.921387
36,Oregon,86,NaN,2126637,NaN,24728.337210,NaN,44.000000,-120.500000
37,Pennslyvania,285,NaN,6526649,NaN,22900.522810,NaN,41.203323,-77.194527
38,Rhode Island,25,NaN,542985,NaN,21719.400000,NaN,41.742325,-71.742332
39,South Carolina,92,NaN,2648017,NaN,28782.793480,NaN,33.836082,-81.163727
40,South Dakota,43,NaN,437344,NaN,10170.790700,NaN,44.500000,-100.000000
41,Tennesse,148,NaN,3494179,NaN,23609.317570,NaN,35.860119,-86.660156
42,Texas,371,NaN,14570390,NaN,39273.288410,NaN,31.000000,-100.000000
43,Utah,59,NaN,1590301,NaN,26954.254240,NaN,39.419220,-111.950684
44,Vermont,14,NaN,315589,NaN,22542.071430,NaN,44.000000,-72.699997
45,Virginia,164,NaN,4310346,NaN,26282.597560,NaN,37.926868,-78.024902
46,Washington,117,NaN,3794430,NaN,32431.025640,NaN,47.751076,-120.740135
47,West Virginia,54,NaN,904273,NaN,16745.796300,NaN,39.000000,-80.500000
48,Wisconsin,192,NaN,2924723,NaN,15232.932290,NaN,44.500000,-89.500000
49,Wyoming,29,NaN,283502,NaN,9775.931034,NaN,43.075970,-107.290283

In [305]:
mammogram = mammogram[['State','Count','Population','Per','Latitude','Longitude']]
mammogram # delete unnecessary columns

             State  Count  Population           Per   Latitude   Longitude
0          Alabama    104     2531653  24342.817310  32.318230  -86.902298
1           Alaska     23      347065  15089.782610  66.160507 -153.369141
2          Arizona     92     3658425  39765.489130  34.048927 -111.093735
3         Arkansas     71     1535409  21625.478870  34.799999  -92.199997
4       California    588    19843586  33747.595240  36.778259 -119.417931
5         Colorado    114     2851526  25013.385960  39.113014 -105.358887
6      Connecticut     89     1825341  20509.449440  41.599998  -72.699997
7         Deleware     20      502383  25119.150000  39.000000  -75.500000
8          Florida    467    10968797  23487.788010  27.994402  -81.760254
9          Georgia    189     5447400  28822.222220  33.247875  -83.441162
10          Hawaii     27      700375  25939.814810  19.741755 -155.844437
11           Idaho     40      890507  22262.675000  44.068203 -114.742043
12        Illinois    300     6439036  21463.453330  40.000000  -89.000000
13         Indiana    152     3411448  22443.736840  40.273502  -86.126976
14            Iowa    132     1583705  11997.765150  42.032974  -93.581543
15          Kansas     93     1458506  15682.860220  38.500000  -98.000000
16        Kentucky    128     2263918  17686.859380  37.839333  -84.270020
17       Louisiana    122     2379275  19502.254100  30.391830  -92.329102
18           Maine     41      685961  16730.756100  45.367584  -68.972168
19        Maryland     87     3109623  35742.793100  39.045753  -76.641273
20   Massachusetts    123     3546076  28829.886180  42.407211  -71.382439
21        Michigan    178     5067806  28470.820220  44.182205  -84.506836
22       Minnesota    222     2829462  12745.324320  46.392410  -94.636230
23     Mississippi     83     1531584  18452.819280  33.000000  -90.000000
24        Missouri    131     3121595  23828.969470  38.573936  -92.603760
25         Montana     42      530098  12621.380950  46.965260 -109.533691
26        Nebraska     83      966738  11647.445780  41.500000 -100.000000
27          Nevada     49     1533310  31292.040820  39.876019 -117.224121
28   New Hampshire     37      685759  18534.027030  44.000000  -71.500000
29       New Jersy    189     4540093  24021.656080  39.833851  -74.871826
30      New Mexico     36     1057544  29376.222220  34.307144 -106.018066
31        New York    416    10002490  24044.447120  43.000000  -75.000000
32  North Carolina    206     5376254  26098.320390  35.782169  -80.793457
33    North Dakota     46      370846   8061.869565  47.650589 -100.437012
34            Ohio    271     5956651  21980.261990  40.367474  -82.996216
35        Oklahoma    103     1993171  19351.174760  36.084621  -96.921387
36          Oregon     86     2126637  24728.337210  44.000000 -120.500000
37    Pennslyvania    285     6526649  22900.522810  41.203323  -77.194527
38    Rhode Island     25      542985  21719.400000  41.742325  -71.742332
39  South Carolina     92     2648017  28782.793480  33.836082  -81.163727
40    South Dakota     43      437344  10170.790700  44.500000 -100.000000
41        Tennesse    148     3494179  23609.317570  35.860119  -86.660156
42           Texas    371    14570390  39273.288410  31.000000 -100.000000
43            Utah     59     1590301  26954.254240  39.419220 -111.950684
44         Vermont     14      315589  22542.071430  44.000000  -72.699997
45        Virginia    164     4310346  26282.597560  37.926868  -78.024902
46      Washington    117     3794430  32431.025640  47.751076 -120.740135
47   West Virginia     54      904273  16745.796300  39.000000  -80.500000
48       Wisconsin    192     2924723  15232.932290  44.500000  -89.500000
49         Wyoming     29      283502   9775.931034  43.075970 -107.290283